<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>New Albums</title>
  </head>
  <body>
    <h1>Add a new Album</h1>

    <form action='/albums' method='post'>
      <label for='title'>Album Title: </label>
      <input id='title' name='title' type='text'>
      <label for='albumArtist'>Album Artist: </label>
      <input id='albumArtist' name='albumArtist' type='text'><br>

      <button type='submit'>Add Album</button>
    </form>

  </body>
</html>
