<h1>Add an Artist</h1>
<br><br>
<p>Add an Artist here:</p>

<form action="/artists" method="post">
  <label for="artistName">Artist Name</label>
  <input id="artistName" name="artistName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<br><br>
<p><a href="/artists">Back to artists list.</a></p>
