<h1>CD Organizer</h1>

<h3><a href='/albums'>View Albums</a></h3>
<br><br>
<h3><a href='/albums/new'>Add New Album</a></h3>
<br><br>
<h3><a href='/artists'>View Artists</h3>
<br><br>
<h3><a href='/artists/new'>Add New Artist</a></h3>
